<mat-grid-list *ngIf="doctor;else loading" cols="4">
  <mat-grid-tile class="profileImage-column" rowspan="2" >
     <img class = profileImage src="{{doctor.url_foto}}" alt="Photo of a Shiba Inu">
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <div class="information-tile">
      <div class="information-header">
        <h1>{{doctor.nombre}} {{doctor.apellido_paterno}} {{doctor.apellido_materno}}</h1>
        <h2>Clinica: {{doctor.clinica_id}}</h2>
      </div>
      <h2 class = "direction" >{{doctor.telefono}} {{doctor.email}}</h2>
      <div class="information-footer">
        <h2>Cédula profesional: {{doctor.url_cedula}}</h2>
        <h2>CURP: {{doctor.curp}}</h2>
      </div>
    </div>
    <button mat-raised-button class="flex-start">Editar</button>
  </mat-grid-tile>

  <mat-grid-tile colspan="3">
    <div class= "all-tile">
      <mat-tab-group>
        <mat-tab label="Áreas Medicas"> {{doctor.especialidad}} </mat-tab>
        <mat-tab label="Otros"> Status: {{doctor.status}} </mat-tab>
      </mat-tab-group>
    </div>
  </mat-grid-tile>

</mat-grid-list>
<ng-template #loading>Loading...</ng-template>
