<mat-card>
    <div mat-card-image></div>
    <mat-card-content>
    
        <strong>Fecha de nacimiento</strong>
        <p>{{birthDate}}</p>
        <strong>Sexo</strong>
        <p>{{gender}}</p>
        <strong>Alergias</strong>
        <p>{{alergies}}</p>
        <strong>Operaciones previas</strong>
        <p>{{previousSurgery}}</p>

        <strong>Enfermedades crónicas</strong>
        <p>{{cronicIllness}}</p>
        <strong>Tratamientos vigentes</strong>
        <p>{{treatments}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button >EDITAR</button>
      <button mat-raised-button color="warn">ELIMINAR</button>
    </mat-card-actions>
  </mat-card>
