<mat-toolbar>
    <figure class="logo">
        <a href="app.component.html">
        <img src="assets/logo.png" alt="logo-img">
        </a>
    </figure>
    <span>SARM</span>
    <ul class="nav-options">
        <li class="nav-option"><button (click)=seePatient()>Mis pacientes</button></li>
        <li class="nav-option"><button (click)=seeNews()>Noticias</button></li>
    </ul>
    <span class="example-spacer"></span>

  <button *ngIf="idDoctor" mat-fab class="account-icon" [mat-menu-trigger-for]="profileMenu" aria-label="My profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu = "matMenu">
    <button mat-menu-item>
      <a mat-menu-item href="perfil/{{idDoctor}}">Ver perfil</a>
    </button>
    <button mat-menu-item>
      <a mat-menu-item href="login/">Cerrar sesión</a>
    </button>
  </mat-menu>
</mat-toolbar>
