<mat-toolbar>
    <figure class="logo">
        <a href="app.component.html">
        <img src="assets/logo.png" alt="logo-img">
        </a>
    </figure>
    <span>SARM</span>
    <a href="#">Mis pacientes</a>
    <span class="example-spacer"></span>

  <button mat-fab class="account-icon" [mat-menu-trigger-for]="profileMenu" aria-label="My profile">
    <mat-icon>account_circle</mat-icon>
  </button>
  <mat-menu #profileMenu = "matMenu">
    <button mat-menu-item (click)="profile()">
      <span>Ver perfil</span>
    </button>
    <button mat-menu-item>
      <span>Cerrar sesión</span>
    </button>
  </mat-menu>
</mat-toolbar>
