.example-spacer {
    flex: 1 1 auto;
}

.logo >a img{
    width: 3rem;
    height: 3rem;
}

mat-toolbar{
    background-color: #3BBCBE;
    color: aliceblue;
}

mat-toolbar > a{
    padding-left: 24px;
    text-decoration: none;
    color: aliceblue;
}