<app-header></app-header>
<div class="myContainer">
        <table mat-table [dataSource]="patients.results" class="mat-elevation-z8">

            <ng-container matColumnDef="Id">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.id.value}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element"> {{element.name.title}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef> Edad </th>
              <td mat-cell *matCellDef="let element"> {{element.registered.age}} </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
          </table>
    
</div>
<app-footer></app-footer>
