<h2 mat-dialog-title>{{dataSource.patient.label}}</h2>
<mat-dialog-content class="mat-typography">

  <h3>Fecha</h3>
  <p>{{dataSource.date_time}}</p>

  <h3>Sintomas</h3>
  <p>{{dataSource.observations}}</p>

  
  <h3>Medicación recetada</h3>
  <p></p>

  <h3>Observaciones</h3>
  <p>{{dataSource.diagnostic_type.label}}</p>
  <h3>Tratamiento</h3>
  <h4>Tipo de tratamiento</h4>
  <p>{{dataSource.diagnostic_classification.label}}</p>
  <h4>Seguimiento de tratamiento</h4>
  <p>{{dataSource.diagnostic_classification.label}}</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>