<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="mat-typography">

    <form class="addForm" [formGroup]="frmReactivo">
        <mat-form-field class="itext" appearance="legacy">
            <mat-label>Nombre(s):</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>

        <mat-form-field class="itext" appearance="legacy">
            <mat-label>Apellido paterno:</mat-label>
            <input matInput type="text" formControlName="lastName"
                   value="{{data.title}}">
        </mat-form-field>

        <mat-form-field class="itext" appearance="legacy">
            <mat-label>Apellido materno:</mat-label>
            <input matInput type="text" formControlName="secondLastName"
                   value="{{data.apellido_materno}}">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Fecha de nacimiento</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Género</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="femenino">Mujer</mat-option>
                <mat-option value="masculino">Hombre</mat-option>
                <mat-option value="otro">Otro</mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field class= "itext" appearance="fill">
          <mat-label>Teléfono</mat-label>
          <input matInput #input maxlength="10" placeholder="Ex. 9991092133"
                 formControlName="phone"
                 value="{{data.telefono}}">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
          <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>


      <mat-form-field class="itext" appearance="fill">
         <mat-label>Correo</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="email"
               value="{{data.email}}">
      </mat-form-field>

        <mat-form-field class="tarea" appearance="fill">
            <mat-label>Alergias</mat-label>
            <textarea matInput formControlName="alergies">
              {{data.alergias}}
            </textarea>
        </mat-form-field>

        <mat-form-field class="tarea" appearance="fill">
            <mat-label>Operaciones previas</mat-label>
            <textarea matInput formControlName="previousSurgery">
              {{data.operaciones_previas}}
            </textarea>
        </mat-form-field>

        <mat-form-field class="tarea" appearance="fill">
            <mat-label>Enfermedades crónicas</mat-label>
            <textarea matInput formControlName="cronicIllness">
              {{data.enfermedades_cronicas}}
            </textarea>
        </mat-form-field>

        <mat-form-field class="tarea" appearance="fill">
            <mat-label>Tratamientos vigentes</mat-label>
            <textarea matInput formControlName="treatments">
              {{data.tratamientos_vigentes}}
            </textarea>
        </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
    <button class="subBut" mat-raised-button color="primary" (click)="save()" [disabled] = "!frmReactivo.valid">Guardar</button>
</mat-dialog-actions>
