<app-header></app-header>

<div class="aline-patient-detail">
    <mat-card-header>
        <div class="card-head">
            <div class="card-name">
               <mat-card-title>{{patients.results[0].name.first}} {{patients.results[0].name.last}}</mat-card-title>
                <mat-card-subtitle>Teléfono: {{patients.results[0].phone}}, Edad: {{patients.results[0].registered.age}}</mat-card-subtitle> 
            </div>
            <div class="card-button-register">
                <button mat-raised-button >AÑADIR REGISTRO</button>
            </div> 
        </div>
        
    </mat-card-header>

    <mat-tab-group>
        <mat-tab label="Datos"> 
            <app-patient-data-card [parentData]="patients" [patients]="patients"></app-patient-data-card>
        </mat-tab>
        <mat-tab label="Historial"> 
            <app-registers-table></app-registers-table>
        </mat-tab>
    </mat-tab-group>    
</div>

<app-footer></app-footer>

