<table mat-table [dataSource]="dataSource.registros" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.idRegistro}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="asunto">
      <th mat-header-cell *matHeaderCellDef> Asunto </th>
      <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaCreado}} </td>
    </ng-container>
  
    
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"class="button-row">
            <div class="flex-container">
                <div class="button-container">
                    <button mat-icon-button >
                        <mat-icon>edit</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-icon-button (click)="openDialog(element.idRegistro)">
                        <mat-icon>remove_red_eye</mat-icon>
                    </button>
                </div>
                <div class="button-container">
                    <button mat-icon-button  >
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </td>
        
        
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
