<mat-card>
    <div mat-card-image></div>
    <mat-card-content>
    
        <strong>Fecha de nacimiento</strong>
        <p>1-mayo-1998</p>
        <strong>Sexo</strong>
        <p>hombre</p>
        <strong>Alergias</strong>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eaque dolorum neque explicabo atque ipsam, 
            distinctio sequi quaerat veniam eum deserunt recusandae quidem asperiores tempore consequatur expedita, 
            nemo temporibus aspernatur.</p>
        <strong>Operaciones previas</strong>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eaque dolorum neque explicabo atque ipsam, 
            distinctio sequi quaerat veniam eum deserunt recusandae quidem asperiores tempore consequatur expedita, 
            nemo temporibus aspernatur.</p>

        <strong>Enfermedades crónicas</strong>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eaque dolorum neque explicabo atque ipsam, 
            distinctio sequi quaerat veniam eum deserunt recusandae quidem asperiores tempore consequatur expedita, 
            nemo temporibus aspernatur.</p>
        <strong>Tratamientos vigentes</strong>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit eaque dolorum neque explicabo atque ipsam, 
            distinctio sequi quaerat veniam eum deserunt recusandae quidem asperiores tempore consequatur expedita, 
            nemo temporibus aspernatur.</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button >EDITAR</button>
      <button mat-raised-button color="warn">ELIMINAR</button>
    </mat-card-actions>
  </mat-card>
